//output:index.html
html
  head
    title=title
    meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=yes')
    link(rel='stylesheet', href='/style.css', type='text/css')
    script(src="https://code.jquery.com/jquery-3.0.0.min.js")
    link(rel='stylesheet' , href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css', type='text/css')
    link(rel='stylesheet' , href='https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css', type='text/css')
  body
    .container
      .row#userFormArea
        .col-md-6.col-md-offset-3
          form#userForm
            .form-group
              label Enter Username
              input(class='form-control', id='username' required)
              br
              label Enter Age
              input(class='form-control', id='age', type='number' required)
              br
              label Gender
              select.form-control#gender
                option(selected,disabled) Select
                option M
                option F
              br
              input(type='submit',class='btn btn-primary btn-lg btn-block', value='Chat')

      .row#messageArea
        .col-md-3#fixed
          .well.online
            h3 Online users
              span   
            ul#users.list-group
        .col-md-9#chatZone
          .chat#chat
      form#messageForm
          .form-group
            label Enter Message
            textarea.form-control#message
            br
            input(type='submit',class='btn btn-primary btn-block', value='Send message', id='submitChat')
          


    script(src='/socket.io/socket.io.js')
    script(src='/app.js')
